//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$themaColor: #006f6b;
$hoverColor: #078782;
$mainColor: #fff;
$fontColor:#fff;
$mainContainer: #f5f5f5;
$tableThBg: #dfdfdf;
$sideColor: #333;
$tablehoverColor: #f4f4f4;
$sideMenu: #727272;
$border:#dcdfe6;
$disabled: #e4e7ed;
$headerColor: #282828;
$leftSideColor: #333;
$openColor: "#000";
$isActiveColor:#000000;
$switchCoreColor:#eeeeee;
$switchAfterColor:#ffffff;
$inSwitchColor:#ffffff;
$isSwitchColor:#15B4A5;
